/* Color CSS */
#diff2html-container {
	background: white;
}

.bdv-cs-dark #diff2html-container {
	background: black;
}

.d2h-file-name {
	color: blue;
}

.bdv-cs-dark .d2h-file-name {
	color: lightgreen;
}

.bdv-cs-dark button,
.bdv-cs-dark .d2h-file-collapse {
	background-color: #333;
	color: #fff;
	transition: background-color 0.3s, color 0.3s;
}

.bdv-cs-dark button:hover,
.bdv-cs-dark .d2h-file-collapse:hover {
	background-color: #555;
}

/* Normal CSS */
#diff2html-container {
	transform-origin: 0 0;
	-moz-transform-origin: 0 0;
}

#diff2html-header {
	margin-top: 5px;
	margin-bottom: 5px;
}

#diff2html-header button {
	margin-right: 5px;
}

.custom-git-btn {
	margin-right: 5px;
	display: flex;
	height: 100%;
	line-height: 30px;
}

#no-diff-available {
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	margin-left: 10px;
}

.btn-icon {
	margin-left: 2px;
	margin-right: 2px;
}

.btn-long-desc,
.btn-short-desc {
	margin-left: 5px;
	margin-right: 5px;
}

.btn-icon,
.btn-short-desc {
	display: none;
}

#diff2html-header .btn-group > button {
	margin: 0px;
}
